body{ 
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/38473wide.jpg);
    background-color: rgb(199, 235, 247);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#Sales header ,header { 
    margin: 0px;
    border: 0px;
    background-color: burlywood;
    position: fixed;
    top: 0em;
    width: 100%;
    height: 150px;
    font-size: 200%;
    color: rgb(223, 66, 97);
    text-align: center;
    z-index: 1;
}
h1 {
    
    font-family: 'Playfair Display', serif;
}   
   
#first{
    margin-top: 170px;
    font-family: 'Playfair Display', serif;
    color: rgb(223, 66, 97);
    font-size:150%;
    font-weight: 800;
    margin-left:50px;
    width: 90%;
    margin-bottom: 50px;
}
#second{
    font-family: 'Playfair Display', serif;
    color: rgb(221, 209, 218);
    font-size:120%;
    position: relative; 
    font-weight: 800;
    left:50px;
    width: 90%;
}
ul{
    
    font-family: 'Playfair Display', serif;
    color: rgb(230, 223, 225);
    font-size: larger;
    margin-left: 50px;
    font-weight: 700;
  
}
ul img{
    z-index: -1;
    float: right;
    width: 40%;
    

}
li{
    width: fit-content;
    margin: 10px;
}
#img{
    align-content: center;
    margin: 30px;
    width: 44%;
    height: 300px;
    border-radius: 2rem;
    
    
   
}
#img1{
    align-content: center;
    margin: 30px;
    width: 44%;
    height: 300px;
    border-radius: 2rem;
    border:solid  rgb(22, 54, 141);
    
   
}
#img2{
   border-radius: 2rem;
    border:solid  rgb(22, 54, 141);
    width: 22%;
    margin-left: 20px;
    height: 300px;
    margin-right: 15px;
   
}
div  {
    color: rgb(216, 8, 164);
    font-size:150%;
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
    margin: 20px;
}
#link ,#link1{ 
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 50px;
    font-size: 200%;
    margin-left: 30px;
}
#link1{
    margin-left: 200px;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 120%;
    position: relative;
    bottom: 0px;
    left: 90%;
    
}

table{
    background-color: rgb(119, 104, 104);
    position: relative;
    top: 70px;
    margin: auto;
    

}
table, tr, td{
    
    font-family: 'Playfair Display', serif;
    border: solid rgb(238, 99, 99);
    border-collapse: collapse;
    text-align: center;
    color: rgb(212, 199, 194);
}
 
form{
    margin-top: 150px;
}
fieldset{
    border-radius: 2rem;
    margin-left: 50px;
    width: 30%;
    border: solid rgb(202, 174, 248);
    
}

label {
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 5px;
    color: rgb(243, 127, 214);

}
#submit{
    float: right;
}
