body{ 
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/38473wide.jpg);
    background-color: rgb(199, 235, 247);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#Sales header ,header { 
    margin: 0px;
    border: 0px;
    background-color: blanchedalmond;
    position: fixed;
    top: 0em;
    width: 100%;
    height: 130px;
    font-size: 200%;
    color: rgb(223, 66, 97);
    text-align: center;
    
}
   
#first{
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(221, 209, 218);
    font-size:150%;
    font-weight: 800;
    margin-left:50px;
    width: 90%;
}
#second{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(221, 209, 218);
    font-size:120%;
    position: relative; 
    font-weight: 800;
    left:50px;
    width: 90%;
}
ul{
    
    font-family: 'Times New Roman', Times, serif;
    color:rgb(223, 99, 192);
    font-size: larger;
    margin-left: 50px;
  
}
ul img{
    z-index: -1;
    float: right;
    width: 40%;
    

}
li{
    width: fit-content;
    margin: 10px;
}
#img1{
    width: 49%;
    height: 300px;
   
}
#img2{
    width: 24%;
    height: 300px;
   
}
div ,a {
    color: rgb(216, 8, 164);
    font-size:150%;
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
    margin: 20px;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 120%;
    position: relative;
    bottom: 0px;
    left: 90%;
    
}

table{
    position: relative;
    top: 50px;
    margin: auto;
    

}
table, tr, td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid black;
    border-collapse: collapse;
    text-align: center;
    color: rgb(138, 42, 8);
}
 
form{
    margin-top: 150px;
}
fieldset{
    width: 30%;
    border: solid rgb(86, 18, 196);
    
}

label {
    display: block;
    margin: 5px;
    color: mediumblue;

}
#submit{
    float: right;
}
#home{
    position: relative;
    z-index: 2;
    top: 100px;
    
}