#Sales {
    background-color: blue;
}
body{
    color: brown;
}
ul{
    color: darkred;
}
.highlights{

color: cyan;
}
.data{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: crimson;
}
.text{
font-family: 'Times New Roman', Times, serif;
color: darkorchid;
}